#index{
     
}
#index div.header{
    background-color: rgb(24, 24, 24);
    width: 100%;
    height: 13vh;
    display: grid;

}
#index div.logo {
    height: 13vh;
    grid-column-start: 1;
        
}

#index div.logo img{
    height: 13vh;
}

#index div.list{
    margin:0 30px;
    grid-column-start: 2; 
}
#index div.list ul{
    margin: 0 30px;
    height: 13vh;
    line-height: 20vh;
    text-align: right;
}

#index div.list ul li{
    display: inline;
    color: white;
}

#index div.content{
    background-color: rgb(249, 19, 19);
    width: 100%;
    height: 100vh;
    display: grid;
}

#index div.content img{
    width: 100%;
    height: 100vh;
    display: grid;
}