body{
    margin: 0;
}                            /* 左右填滿*/

#header{
    background-color: #98c2ec;
    height: 113px;

} 


#header .logoleft{
    margin: 17px;
    width: 350px;
    height: 6vw;
    float: left;
    
} 



#menu {
    margin: 0;
    float: right;

}


    
.button {
    width:120px;
    height:40px;
    border:2px #ffffff dashed;
    background-color: transparent;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    
    
}

#main{
    background-color:#FF7789;
    position: inherit;
    height: 46vw;
    margin: 0;
    color: white;
}



#main2{
    background-color:#FFE711;
    position: inherit;
    height: 46vw;
    margin: 0;
    color: white;
}